body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#search-area {
    margin: 20px;
    text-align: center;
}

#search-area input[type="text"] {
    width: 60%;
    padding: 10px;
}

#search-area button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Newsletter Subscription Section */
#newsletter-subscription {
    background-color: #f7f7f7;
    text-align: center;
    padding: 40px 0;
}

#newsletter-subscription form {
    display: inline-block;
    margin-top: 20px;
}

#newsletter-subscription input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ddd;
}

#newsletter-subscription button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

/* Social Media Section */
#social-media {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Featured Recipes Section */
#featured-recipes {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    /* Add more styles for the recipe carousel */
}

/* Meal Planning Section */
#meal-planning {
    background-color: #e9ecef;
    padding: 20px;
    margin: 20px 0;
}

/* Community Section */
#community-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

/* Blog Posts Section */
#latest-blog-posts {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px 0;
}

/* Testimonials Section */
#testimonials {
    background-color: #e9ecef;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

img {
    width: 100%; /* or any other width */
    height: auto; /* maintain aspect ratio */
    margin-bottom: 20px;
}

#ingredients, #instructions {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
}

.ingredient-list ul {
    list-style-type: none;
    padding: 0;
}

.ingredient-list li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.cooking-instructions p {
    white-space: pre-line; /* This will respect line breaks */
}