<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/meal-planner">Meal Planner</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
    </header> 
    <section id="search-area">
        <input type="text" placeholder="Search for recipes....">
        <button>Search</button>
    </section>

    <section id="featured-recipes">
        <h2>Featured Recipes</h2>
        <!-- Dynamic content will be loaded here-->
    </section>

    <section id="meal-planning">
        <h2>Meal Planning</h2>
        <!--Dynamic content will be loaded here-->
    </section>

    <section id="community">
        <h2>Community</h2>
        <!--Dynamic content will be loaded here-->
    </section>

    <footer>
        <p>&copy; 2024 DineDesign. All rights reserved.</p>
    </footer>
</body>
</html>